<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      View Listing
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding>
  <ion-button (click)="backToExplore()"><ion-icon name="arrow-back"></ion-icon></ion-button>
  <ion-list padding>
    <!-- <ion-card> -->
      <div>
        <ion-slides *ngIf="imgUrls">
          <ion-slide *ngFor="let img of imgUrls">
            <img src={{img}} />
          </ion-slide>
        </ion-slides>
        <h3>{{listing?.title}}</h3>
        <p>{{listing?.address}}</p>
        <p>{{listing?.summary}}</p>
        <p>R{{listing?.pricePerNight}} per night</p>
      </div>
    <!-- </ion-card> -->
  </ion-list>
  <ion-button (click)="book(listing.id)">Book Now</ion-button>
</ion-content>
