<ion-header>
  <ion-toolbar>
    <ion-title>
      Listings
    </ion-title>
    <ion-button style="padding-right:10px" slot="primary" expand="block" routerLink="/create">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>
  
  <ion-list *ngFor="let listing of listings">
      <ion-card (click)="viewListing(listing.id)" padding>
          <ion-slides *ngIf="imgUrls" pager="true" [options]="slideOpts">
              <ion-slide *ngFor="let img of imgUrls[listing.id]">
                <img src={{img}} />
              </ion-slide>
          </ion-slides>
        <h3>{{listing?.title}}</h3>
      </ion-card>
  </ion-list>
  
</ion-content>
