<ion-header>
  <ion-toolbar>
    <ion-title>
      Listings
    </ion-title>
    <ion-button slot="primary" expand="block" routerLink="/create">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>
  
  <ion-list>
    <ion-item *ngFor="let listing of listings">
      <h3>{{listing.title}}</h3><br>
          {{listing.address}}<br>
          {{listing.summary}}<br>
          R{{listing.pricePerNight}}<br>

        <div>
          <ion-button expand="block" routerLink="/view">
            <ion-icon name="glasses"></ion-icon>
          </ion-button>
          <ion-button expand="block" routerLink="/update">
            <ion-icon name="create"></ion-icon>
          </ion-button> 
        </div>
    </ion-item>
  </ion-list>
  
</ion-content>
