<div>

  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-4 col-md-3 mr-0" href="#">bnb Admin Panel</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>

  <div style="margin-top:40px; height: calc(100vh - 40px);" class="container-fluid">
    <div style="margin-top:40px; height: calc(100vh - 40px);" class="row">

      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li *ngFor="let navItem of navItems" >
              <button type="button" class="btn btn-link" (click)="navTo(navItem)">{{navItem.name}}</button>
            </li>
          </ul>
        </div>
      </nav>
      <div class="flex-column col-md-10">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Service Providers</h1>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Cell Phone</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-row" *ngFor="let provider of providers">
                <td>{{provider.id}}</td>
                <td>{{provider.firstName}}</td>
                <td>{{provider.lastName}}</td>
                <td>{{provider.email}}</td>
                <td>{{provider.cellPhone}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>
