<ion-header>
  <ion-toolbar>
    <ion-title>Booking Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>New Requests</h2>
  <ion-list *ngFor="let booking of newBookings; let i = index">
    <ion-card padding>
      <p>{{newBookingUsers[i]?.firstName}} {{newBookingUsers[i]?.lastName}}</p>
      <p>{{newBookingUsers[i]?.email}}</p>
      <p>{{newBookingUsers[i]?.cellPhone}}</p>
      <p>{{booking?.startDate | date: 'dd/MM/yyyy' }} to {{booking?.endDate | date: 'dd/MM/yyyy' }}</p>
      <ion-button (click)="accept(booking.id)">ACCEPT</ion-button>
      <ion-button (click)="reject(booking.id)">REJECT</ion-button>
    </ion-card>
  </ion-list>

  <h2>Accepted Requests</h2>
  <ion-list *ngFor="let booking of acceptedBookings">
    <ion-card padding>
        <p>{{booking?.startDate | date: 'dd/MM/yyyy' }} to {{booking?.endDate | date: 'dd/MM/yyyy' }}</p>
    </ion-card>
  </ion-list>

  <h2>Rejected Requests</h2>
  <ion-list *ngFor="let booking of rejectedBookings">
    <ion-card padding>
        <p>{{booking?.startDate | date: 'dd/MM/yyyy' }} to {{booking?.endDate | date: 'dd/MM/yyyy' }}</p>
    </ion-card>
  </ion-list>
  <ion-button (click)="back()"><ion-icon name="arrow-back"></ion-icon></ion-button>
</ion-content>
