<ion-header>
  <ion-toolbar>
    <ion-title>
      Trips
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="bookings.length == 0">
    <p>You have no upcoming trips.</p>

    <p>Start planning your next trip!</p>
    <ion-button expand="block" routerLink="/tabs/explore" routerDirection="backward">
      Explore Airbnb
    </ion-button>
  </div>
  <div *ngIf="bookings.length != 0">
    <ion-list>
      <div *ngFor="let booking of bookings, let i = index">
        <ion-card padding>
          <h3>{{listings[i]?.title}}</h3>
          <p>{{listings[i]?.address}}</p>
          <p>{{booking?.numPeople}} people</p>
          <p>{{booking?.startDate | date: 'dd/MM/yyyy' }} to {{booking?.endDate | date: 'dd/MM/yyy' }}</p>
        </ion-card>
      </div>
    </ion-list>
  </div>
</ion-content>
