<ion-header>
  <ion-toolbar>
    <ion-button style="padding-left:10px" (click)="back()" slot="start"><ion-icon name="arrow-back"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item>
      <ion-label class="label">Title</ion-label>
      <ion-input type="text" name="title" value="{{title}}" [(ngModel)]="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label">Address</ion-label>
      <ion-input type="text" name="address" value="{{address}}" [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label">Summary</ion-label>
      <ion-textarea name="summary" value="{{summary}}" [(ngModel)]="summary"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label class="label">Price</ion-label>
      <ion-input name="price" value="{{pricePerNight}}" [(ngModel)]="pricePerNight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label">Home Type</ion-label>
      <ion-select placeholder="Select One" value="{{homeType}}" name="homeType" [(ngModel)]="homeType">
        <ion-select-option value="house">House</ion-select-option>
        <ion-select-option value="apartment">Apartment</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label class="label">Max Number of People</ion-label>
      <ion-input name="maxNumPeople" value="{{maxNumPeople}}" [(ngModel)]="maxNumPeople"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="label">Image URL</ion-label>
      <ion-input name="imgUrl" value="{{imgUrl}}" [(ngModel)]="imgUrl"></ion-input>
    </ion-item>
    <ion-button class="button-margin" (click)="update()" type="submit" block>Update</ion-button>
    <ion-button class="button-margin" (click)="delete()" type="submit" block>Delete</ion-button>
  </form>
</ion-content>
  