<ion-header>
  <ion-toolbar>
    <ion-button style="padding-left:10px" (click)="back()" slot="start"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <ion-button style="padding-right:10px" slot="end" routerLink="/update">
      <ion-icon name="create"></ion-icon>
    </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <div padding>
        <ion-slides *ngIf="imgUrls" pager="true" [options]="slideOpts">
            <ion-slide *ngFor="let img of imgUrls">
              <img src={{img}} />
            </ion-slide>
        </ion-slides>
        <h3>{{listing?.title}}</h3>
        <p>{{listing?.address}}</p>
        <p>{{listing?.summary}}</p>
        <p>R{{listing?.pricePerNight}} per night</p>
      </div>
  </ion-list>
  <ion-button (click)="viewBookingRequests(listing.id)">BOOKING REQUESTS</ion-button>
</ion-content>
