<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/profile.png">
    </ion-avatar> 
    <ion-label text-wrap>
      <ion-text>
        <h1>Hello, {{userFirstName}} {{userLastName}}</h1>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item>
      <h2>Account Information</h2>
      <p>{{userEmail}}</p>
  </ion-item>
  <ion-button size="medium" expand="block" (click)="signout()">Sign Out</ion-button>
</ion-content>
